@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Common styles */
#kitchen {
  color: #fff; 
   
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
}

.order-item {
  flex-basis: 32.2%;
  margin: 0.5rem 0rem;
  margin-left: 0.5rem;
  padding: 3px;
  /* border: 1px solid #ccc; */
  background-color: #222; 
  color: #fff; 
}

.order-elem {
  margin: 0.5rem 0rem;
}

#kitchen {
  padding: 3rem 1rem;
}

.product-item {
  margin-bottom: 3px;
}

button {
  border: none;
}
.cooking-button {
  background-color: #3fa13fdd;
  color: #fff; 
}

.ready-button {
  background-color: #179317;
  color: #fff; 
}

.taking-more-than-usual {
  background-color: #ffff00; 
  color: #000; 
}

.taking-too-long {
  background-color: #ff0000; 
  color: #fff; 
}

.received-button {
  background-color: #808080; 
  color: #fff; 
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
}
