<section id="kitchen" *ngIf="isLoggedIn">
  <header>
    <h1>Kitchen Component</h1>
    <p>Orders waiting to be prepared: {{ waitingOrdersCount }}</p>
  </header>
  <div class="container">
    <div *ngFor="let order of filteredOrders | slice:0:6" class='order'>
      <div class="order-details">
        <h2>Order Details:</h2>
        <h3 class="order-elem">Status: {{ order.status }}</h3>
        <p class="order-elem">Customer: {{ order.client }}</p>
        <p class="order-elem">ID: {{ order.id }}</p>
        <p class="order-elem">Date Entry: {{ order.dateEntry }}</p>
        <div *ngFor="let product of order.products" class="product-item">
          <label>
            <input type="checkbox">
            {{ product.name }} {{ product.qty || 1 }}
          </label>
        </div>
      </div>
      <button [ngClass]="getOrderColor(order.dateEntry, order.status)" (click)="editOrderStatus(order)">
        {{ order.status === 'sent' ? 'Cooking' : 'Ready' }}
      </button>
    </div>
  </div>
</section>