<div class="modal">
  <section class="modal-content">
    <h2 class="modal-title">👑 Order Confirmation! 👑</h2>
    <p class="modal-message">Behold, Your Royal Order is Ready to be Served!</p>

    <table class="meal-list">
      <thead>
        <tr>
          <th>Meal</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display each meal in the order -->
        <tr *ngFor="let product of products" class="meal-item">
          <td>{{ product.name }}</td>
          <td>{{ product.qty }}</td>
          <td>${{ calculateTotal(product) }}</td>
        </tr>
      </tbody>
    </table>

    <p class="modal-info">Final Total: {{ calculateFinalTotal() | currency }}</p>
    <p class="modal-info">Tip (10%): {{ calculateTip(calculateFinalTotal(), 10) | currency }}</p>
    <p class="modal-info">Total + Tip: {{ calculateTip(calculateFinalTotal(), 10) +  calculateFinalTotal()| currency }}</p>


    <div class="modal-buttons">
      <button (click)="submitOrder()" class="confirm-button">Let the Feast Begin!</button>
      <button (click)="close()" class="cancel-button">I Bow Out Gracefully</button>
    </div>
  </section>
</div>
