.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.832);
  color: #162505;
  border-radius: 8px;
  padding: 0;
  max-width: 688px;  
  text-align: center;
}

.modal-title {
  color: #AE8625;
  font-size: 28px;
  margin-bottom: 20px;
}

.modal-message {
  color: #2D4B08;
  font-size: 18px;
  margin-bottom: 30px;
}

.meal-list {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.meal-list th, .meal-list td {
  padding: 10px;
  border-bottom: 1px solid #162505;
}

.meal-list th {
  background-color: #AE8625;
  color: #FFFFFF;
  font-weight: bold;
}

.meal-item td {
  text-align: center;
}

.modal-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-buttons {
  margin-top: 30px;
}

.confirm-button {
  display: inline-block;
  background-color: #AE8625;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.cancel-button {
  background-color: white;
  color: #AE8625;
}

/* Media Queries */
@media only screen and (min-width: 480px) {
  /* For landscape orientation tablets and larger mobile screens */
  .modal-content {
    padding: 60px;
  }
  
  .modal-title {
    font-size: 32px;
  }
  
  .modal-message {
    font-size: 20px;
  }
  
  .modal-info {
    font-size: 18px;
  }
  
  .confirm-button, .cancel-button {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  /* For tablets */
  .modal-content {
    padding: 80px;
  }
  
  .modal-title {
    font-size: 36px;
  }
  
  .modal-message {
    font-size: 24px;
  }
  
  .modal-info {
    font-size: 20px;
  }
  
  .confirm-button, .cancel-button {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1024px) {
  /* For laptops and desktops */
  .modal-content {
    padding: 100px;
  }
  
  .modal-title {
    font-size: 42px;
  }
  
  .modal-message {
    font-size: 28px;
  }
  
  .modal-info {
    font-size: 24px;
  }
  
  .confirm-button, .cancel-button {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1920px) {
  /* For smart TVs */
  .modal-content {
    padding: 120px;
  }
  
  .modal-title {
    font-size: 48px;
  }
  
  .modal-message {
    font-size: 32px;
  }
  
  .modal-info {
    font-size: 28px;
  }
  
  .confirm-button, .cancel-button {
    font-size: 30px;
  }
}