#menu {
  color: white;
  font-family: 'Crimson Text', sans-serif;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 8rem;
}

.column {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

h2,
h3 {
  margin: 1rem 0;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn {
  text-decoration: none;
  color: white;
}

.name {
  font-weight: bold;
  width: 8rem;
}

.price {
  min-width: 60px;
  text-align: right;
  margin-right: 0.5rem;
}

/* Media Queries */

/* Tablet - Horizontal Orientation */
@media (min-width: 768px) and (orientation: landscape) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn {
    padding: 0;
  }

  a {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 3px;
  }

  .name {
    width: 6rem;
  }

}

/* Tablet - Vertical Orientation */
@media (min-width: 768px) and (orientation: portrait) {
  .menu-container {
    grid-template-columns: 1fr;
  }
}

/* Laptops */
@media (min-width: 1024px) {
  .menu-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Smart TVs */
@media (min-width: 1920px) {
  .menu-container {
    grid-template-columns: repeat(4, 1fr);
  }
}