<section id="menu" class="content-box bg-image">
  <h1>Our Menu</h1>

  <figure *ngIf="isLoading">
    <img src="" alt="Loading">
    <figcaption>Loading...</figcaption>
  </figure>

  <div class="menu-container">
    <div class="column">
      <h3>Appetizers</h3>
      <ul>
        <li id="{{menu.id}}" *ngFor="let menu of appetizers">
          <span class="name">{{menu.name}}</span>
          <span class="price">£ {{menu.price}}</span>
          <a class="btn" routerLink="/vq-menu/{{menu.id}}">Zoom It</a>
          <a class="btn" routerLink="/order" (click)="selectProduct(menu)">Want It</a>
        </li>
      </ul>
    </div>

    <div class="column">
      <h3>Main Course</h3>
      <ul>
        <li id="{{menu.id}}" *ngFor="let menu of mainCourses">
          <span class="name">{{menu.name}}</span>
          <span class="price">£ {{menu.price}}</span>
          <a class="btn" routerLink="/vq-menu/{{menu.id}}">Zoom It</a>
          <a class="btn" routerLink="/order" (click)="selectProduct(menu)">Want It</a>
        </li>
      </ul>
    </div>

    <div class="column">
      <h3>Desserts</h3>
      <ul>
        <li id="{{menu.id}}" *ngFor="let menu of desserts">
          <span class="name">{{menu.name}}</span>
          <span class="price">£ {{menu.price}}</span>
          <a class="btn" routerLink="/vq-menu/{{menu.id}}">Zoom It</a>
          <a class="btn" routerLink="/order" (click)="selectProduct(menu)">Want It</a>
        </li>
      </ul>
      <h3>Beverages</h3>
      <ul>
        <li id="{{menu.id}}" *ngFor="let menu of beverages">
          <span class="name">{{menu.name}}</span>
          <span class="price">£ {{menu.price}}</span>
          <a class="btn" routerLink="/vq-menu/{{menu.id}}">Zoom It</a>
          <a class="btn" routerLink="/order" (click)="selectProduct(menu)">Want It</a>
        </li>
      </ul>
    </div>
  </div>
</section>

