<section id="mainAdmin" *ngIf="isLoggedIn()&& userRole === 'admin'">
    <router-outlet>
        <h2>Welcome, VG Manager</h2>

        <div>
            <a routerLink="/admin/menu" class="btn">Administrate Menu</a>
            <a routerLink="/admin/member" class="btn">Administrate Employees</a>
        </div>
    </router-outlet>
</section>

<section id="loginAdmin" *ngIf="!isLoggedIn()">
    <header>
        <h2>Admin V Queen</h2>
    </header>
    <app-login></app-login>
    <button (click)="logout()">LogOut</button>

</section>