<section>
    <h2>🍽️ Order Received! 🍽️<br>Fresh Ingredients at Work!👩🏻‍🍳</h2>

    <p>
        <span class="highlight">Exciting</span> news! Your order is in motion! 🌱
        <br>Our team is busy <span class="highlight">sourcing</span> the freshest ingredients,
        <br>crafting a culinary <span class="highlight">masterpiece</span> just for you.
        <br>Get ready for an <span class="highlight">unforgettable</span> dining experience!
        <br>Bon appétit! 😊🍴
    </p>

    <a routerLink="/vq-menu">Back Menu</a>


</section>