body {
    margin: 0;
    padding: 0;
    align-items: center;
}


h2, h4 {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: #AE8625;
    color: white;
}

p {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    background-color: #FFF8E4F5;
    color: #162505;
}

.highlight {
    background-color: #EDC967;
    color: #769F43;
    font-weight: bold;
  }

  
a {
    text-align: center;
    font-weight: bold;
    background-color: #AE8625;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

/*  Tablets Styles */
@media screen and (min-width: 600px) {

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }
}


/*  laptops Styles*/
@media screen and (min-width: 900px) {

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 22px;
    }
}

/*  Smart TVs Styles*/

@media screen and (min-width: 1200px) {

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }
}