<section id="employeeLogin" *ngIf="!isLoggedIn">
  <form (ngSubmit)="login()">
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'" required>
    <label>
      <input type="checkbox" [(ngModel)]="showPassword" name="showPassword"> Show Password
    </label>
    <button type="submit">Login</button>
  </form>
</section>

<section *ngIf="isLoggedIn && userRole === 'colab'">
  <h2>Welcome!</h2>
  <h5></h5>
  <a routerLink="/colab/take-order" class="btn">Take Order</a>
  <a routerLink="/colab/my-orders" class="btn">Check My Orders</a>
  <!-- TODO: PREGUNTA: Cómo mejorar esto? Achicar botones tipo navbar-->
  <router-outlet></router-outlet>
</section>
<button (click)="logout()">LogOut</button>
