<section id="employeeForm">
    <div class="card">
        <form (ngSubmit)="onClick()">
            <div class="form-group">    
                <input type="email" placeholder="Email" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <div class="form-group">
                <select id="role" name="role" [(ngModel)]="role">
                    <option value="" disabled selected>Select role:</option>
                    <option value="admin">Admin</option>
                    <option value="colab">Colab</option>
                    <option value="chef">Chef</option>
                    <option value="client">Client</option>
                  </select>                  
            </div>
            <button type="submit">{{buttonText}}</button>
        </form>
    </div>
</section>


