<form (ngSubmit)="onClick()">
    <div class="form-group">    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="form-group">
        <label for="role">Select Role:</label>
        <select id="role" name="role" [(ngModel)]="role">
            <option value="admin">Admin</option>
            <option value="colab">Colab</option>
            <option value="chef">Chef</option>
            <option value="client">Client</option>
        </select>
    </div>
    <button type="submit">{{buttonText}}</button>
</form>