<section id="usernameModal" class="modal">
  <div class="modal-content">
    <h4>Royal Delights Await:</h4>
    <h6>Claim Your Culinary Throne: Add Your Name and <br>Rule the Flavor Kingdom!</h6>

    <form (ngSubmit)="submitCustomerName()">
      <label for="customerName">Royal Name:</label>
      <input type="text" id="customerName" name="customerName" [(ngModel)]="customerName" required>
      <button type="submit">Submit</button>
      <button id="cancel" (click)="close()">Cancel</button>
    </form>
  </div>
</section>



