<section id="mainAdmin" *ngIf="isLoggedIn() && userRole === 'admin'">
        <h2>{{title}}</h2>

        <div>
            <a routerLink="/menu" class="btn">Administrate Menu</a>
            <a routerLink="/member" class="btn">Administrate Employees</a>
        </div>
</section>
<button (click)="logout()">LogOut</button>

<section id="loginAdmin" *ngIf="!isLoggedIn()">
    <header>
        <h2>Admin V Queen</h2>
    </header>
    <app-login-form (loginSubmit)="onLoginSubmit($event)"></app-login-form>
</section>