<section id="detailedMenu" >
  <h1 class="heading">Zoom the Menu, Taste the Dream:</h1>
  <h4>Flavor's Just a Click away,it'll Make You Scream!</h4>
  <button class="back" routerLink="/admin">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
  <article id="product" *ngIf="menu && !isLoading">
    <h3>{{menu.name}}</h3>
    <figure>
      <img [src]="foodImg" alt="{{menu.name}}" class="foodImg">
      <figcaption>Image: {{menu.name}}</figcaption>
    </figure>
    <section class="details">
      <article>
        <h5>Price: £{{menu.price}}</h5>
      </article>
    </section>
    <footer>
      <a routerLink="/order" (click)="selectProduct(menu)">Want It</a>
      <a routerLink="/vq-menu">Back</a>
    </footer>
  </article>

  <figure *ngIf="isLoading">
    <img src="" alt="Loading">
    <figcaption>Loading...</figcaption>
  </figure>
</section>
