#detailedMenu {
  color: white;
  font-family: 'Crimson Text', sans-serif;
  text-align: center;
  padding: 50px;

}

.foodImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.details {
  margin-bottom: 40px;
}

h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer {
  margin-top: 40px;
}

button,
a {
  display: inline-block;
  background-color: #AE8625;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin: 1rem;
  text-decoration: none;
}

button:hover,
a:hover {
  background-color: #e9c666d6;
}

.back {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
  position: absolute;
  left: 3rem;
}

.back:hover {
  background-color: transparent;
  color: #a48149;
  font-size: 4rem;
}

#product {
  margin: 3rem 0;
}

/* Media Queries */

/* Tablet - Horizontal Orientation */
@media (min-width: 768px) and (orientation: landscape) {
  .foodImg {
    width: 400px;
    height: 400px;
  }
}

/* Tablet - Vertical Orientation */
@media (min-width: 768px) and (orientation: portrait) {
  .foodImg {
    width: 300px;
    height: 300px;
  }
}

/* Laptops */
@media (min-width: 1024px) {
  .foodImg {
    width: 500px;
    height: 500px;
  }
}

/* Smart TVs */
@media (min-width: 1920px) {
  .foodImg {
    width: 600px;
    height: 600px;
  }
}