<section id="employeesAdmin">
  <h1>Employees Management</h1>
  <button id="addMember" (click)="onSubmit()">Add New Member</button>
  <button class="back" routerLink="/admin">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
    <!-- <span>{{ faArrowLeft }}</span> -->
  </button>
  <div class="container">
    <aside>
      <h2>Roles Types</h2>
      <ul>
        <li (click)="filterEmployees('all')">All</li>
        <li (click)="filterEmployees('chef')">Chef</li>
        <li (click)="filterEmployees('colab')">Colab</li>
        <li (click)="filterEmployees('client')">Client</li>
        <li (click)="filterEmployees('admin')">Admin</li>
      </ul>
    </aside>

    <div class="employee-list">
      <router-outlet></router-outlet>

      <figure *ngIf="isLoading">
        <img src="" alt="Loading">
        <figcaption>Loading...</figcaption>
      </figure>

      <div class="content-box" *ngFor="let employee of filteredEmployees">
        <h3><strong>ID:</strong> {{ employee.id }}</h3>
        <p><strong>Email:</strong> {{ employee.email }}</p>
        <p><strong>Role:</strong> {{ employee.role }}</p>
        <div class="buttons-container">
          <a routerLink="/member/edit/{{ employee.id }}">Edit</a>
          <button id="deleteBtn" (click)="onDeleteClicked(employee.id)">Delete</button>
        </div>
      </div>

    </div>
  </div>

</section>