<section id="employeesAdmin" class="bg-image">
  <h2>Employees Management</h2>
  <a routerLink="/member/add-member">
    <button>Add New Member</button>
  </a>
  <router-outlet></router-outlet>
  
  <figure *ngIf="isLoading">
    <img src="" alt="Loading">
    <figcaption>Loading...</figcaption>
  </figure>
  
  <div class="content-box" *ngFor="let employee of employees">
    <h3>{{ employee.id }}</h3>
    <p>Email: {{employee.email}}</p>
    <p>Password: £{{ employee.password }}</p>
    <p>Role: {{employee.role}}</p>
    <div class="buttons-container">
      <a routerLink="/member/edit/{{employee.id}}">Edit</a>
  
      <button (click)="onDeleteClicked(employee.id)">Delete</button>
    </div>
  
  </div>

</section>